@import url("global.css");

@media screen and (min-width: 1024px){
    
    body{
        max-width: 1280px;
        margin: 0 auto;
    }

    h1{
        font-size: 24px;
    }
    
    h2{
        font-size: 28px;
    }
    
    .input-container div{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
        .input-container div input[type="text"]{
            width: 578px;        }

    header{
        width: 92%;
        margin-bottom: 100px;
        padding-top: 0;
    }
    
    main{
        width:85%;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 11%;
    }
}