:root{
    --primaryColor: #38404B;
    --accentColor: #94ADCF;

    --fontFamily: 'Ubuntu', sans-serif;

    --fontWeightTitle: 700;
    --fontWeightSubTitle: 400;
    --fontWeightItens: 500;
}

body{
    background-color: var(--primaryColor);
    color: var(--accentColor);
    font-family: var(--fontFamily);
}

h1{
    
    font-weight: var(--fontWeightTitle);
}

h2{
    font-weight: var(--fontWeightSubTitle);
}

.completed{
    text-decoration: line-through;
    box-shadow: 1px 1px 2px rgba(64, 74, 86, 0.3), -1px -1px 2px rgba(48, 54, 64, 0.5), inset -5px 5px 10px rgba(48, 54, 64, 0.2), inset 5px -5px 10px rgba(48, 54, 64, 0.2), inset -5px -5px 10px rgba(64, 74, 86, 0.9), inset 5px 5px 13px rgba(48, 54, 64, 0.9);
}