@import url("global.css");

@media screen and (min-width: 650px){

    body{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    h1{
        display: none;

        font-size: 24px;
    }
    
    h2{
        font-size: 28px;
    }

    .modal-closed{
        display: block;
    }

    .input-container{
        position: static;
        height: auto;
        width: auto;

        background-color: rgba(56, 64, 75, 1);
    }

    .input-container div{
        position: relative;
        margin-top: 0;
    }

        .input-container div input[type="text"]{
            width: 378px;
            margin-bottom: 0;
        }
    
        .input-container div input[type="text"]::placeholder{
            background-color: transparent;
        }

    header{
        position: relative;
        align-items: center;
        margin-top: 75px;
        margin-bottom: 70px;
        padding-bottom: 0;
        width: 90%;
    }
    
    main{
        width:90%;
    }

    .title{
        margin-bottom: 75px;
    }

    label{
        height: 59px;
        margin-bottom: 50px;
        
        font-size: 21px;
    }
    
    label input{
        width: 15px;
        height: 15px;
    }

    footer{
        display: none;
    }

}